@import "https://kit.fontawesome.com/20ee41f3f0.js" ;

*{
    margin: 0;
    padding: 0;
}

.container-fluid{
    /* margin: 15px; */
    /* width: 98vw; */
    margin: 35px auto;
    padding: 0 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav {
    color: rgb(72, 100, 100);
    border: solid 2px black;
    display: flex;
    flex-direction: row;
}

.navbar a{
    color: grey;
}

nav a img{
    height: 35px;
    width: 35px;
}

.nav-names {
    display: flex;
    flex-direction: row;align-items: flex-end;
}